{% extends "base.html" %} 
{% block title%}About{% endblock title%}
{% block aboutactive %} active {% endblock aboutactive%}


{% block body %}

    
    <div class="container my-3">
      <h2 class="text-center my-3 py-3"> About Me</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?coder,programer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Designer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?coder,java.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?coder,python.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Entertainer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="my-4">My Coding Website</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
          allowfullscreen></iframe>
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid corporis accusantium eum minima repellat
        minus. Sapiente, esse!periam autem repellendus
        reprehenderit maiores repudiandae.</p>
    </div>

   {% endblock body %}
   